name: "Workflow for action"
on:
  pull_request_target:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Step 1"
        id: get_file_changes
        uses: trilom/file-changes-action@v1.2.3
      - id: echoPayload
        run: |
          echo Added files: ${{ steps.get_file_changes.outputs.files_added }}
          echo Changed files: ${{ steps.get_file_changes.outputs.files_modified }}
      - uses: ./action
        with: 
          branch: actionSetup
          github-token: ${{ secrets.GITHUB_TOKEN }}
